## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [7]:
type(True)

bool

In [8]:
type(False)

bool

In [16]:
my_str='KRISH123'

In [10]:
my_str.istitle()

False

In [12]:
my_str.isalnum( ) #check if chars are alpha and numeric

True

In [17]:

print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
True
False
False
False
True

Difference between function isdigit() and isnumeric() 
For example, we’re used to writing numbers with Arabic numerals. But there are other languages that traditionally use other characters. For example, in Chinese, we count 1, 2, 3, 4, 5 as 一，二，三，四， 五. It turns out that the Chinese characters for numbers will return False for str.isdigit, but True for str.isnumeric, behaving differently from their 0-9 counterparts

SO isdigit() is only for 0-9 digits numeric is for numerics in any script representation.

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [20]:
str_example='Hello9 World'
my_str='Kris7h'

In [23]:
my_str.isalpha() or str_example.isnumeric()

False

### Lists

A list in Python is a collection of items which can contain elements of multiple data types, which may be either numeric, character logical values, etc. It is an ordered collection supporting negative indexing. A list can be created using [] containing data values.
Contents of lists can be easily merged and copied using python’s inbuilt functions.

In [15]:
type([])

list

In [24]:
# First way of declaring a list 

lst_example=[]

In [25]:
type(lst_example)

list

In [26]:
# Second way of declaring a list 
lst=list()

In [27]:
type(lst)

list

In [2]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [3]:
len(lst)

6

In [4]:
type(lst)

list

### Append

In [5]:
#.append is used to add elements in the list
lst.append("Krish")

In [6]:
lst.append(["John","Bala"])

In [28]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [7]:
##Indexing in List
lst[6]

'Krish'

In [10]:
lst.index('chemistry')

1

In [26]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [32]:
## insert in a specific order

lst.insert(2,"Naik")

In [33]:
lst

['Mathematics', 'chemistry', 'Naik', 'Naik', 100, 200, 300, 204]

In [34]:
# Inserting a list into a list is possible because list can contain different data types
lst.append(["Hello","World"])

In [35]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 'Naik',
 100,
 200,
 300,
 204,
 ['Hello', 'World']]

In [30]:
lst=[1,2,3]

In [31]:
lst.append([4,5])

In [32]:
lst

[1, 2, 3, [4, 5]]

Extend Method - What's the difference you may ask? We can add multiple elements in one go using the method "Extend" !!

Append() - appends a single element to the list.
extend() - appends elements of an iterable to the list.
Example : 
characters = ['Tokyo', 'Lisbon', 'Moscow', 'Berlin'] 
new_characters = ['Nairobi', 'Denver', 'Rio']
characters.extend(new_characters)

print('Updated list:', characters)


insert() - inserts a single item at a given position of the list.
All three methods modify the list in place and return None

In [105]:
lst=[1,2,3,4,5,6]

In [106]:
lst.extend([8,[9,10]])

In [107]:
lst

[1, 2, 3, 4, 5, 6, 8, [9, 10]]

In [108]:
lst.insert(2,[8,[9,10]])  #here we have used insert function which gives us add on functionality of adding an element on any position - element can be object of any type here it was a nested list.

In [109]:
lst

[1, 2, [8, [9, 10]], 3, 4, 5, 6, 8, [9, 10]]

In [122]:
lst2 = [3,8,9,10,11]
lst3 = [4,5,6,7]

lst2 = lst2[:1] + lst3 + lst2[1:]
lst2

[3, 4, 5, 6, 7, 8, 9, 10, 11]

### Various Operations that we can perform in List

In [44]:
lst=[1,2,3,4,5]

In [42]:
sum(lst)

15

In [43]:
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [50]:
str_example = 'Gurleen'

In [63]:
for i in str_example:
    print(i*2)

GG
uu
rr
ll
ee
ee
nn

In [83]:
   # we cannot actually perform a mathematical function it will give error or even assignments in the loop - neeed to understand what the below code does
for i in str_example:
       i=i*3


print(str_example)

Gurleen

In [54]:
str_example

'Gurleen'

In [74]:
for i in lst:
    i = i*5

In [123]:
lst

[1, 2, [8, [9, 10]], 3, 4, 5, 6, 8, [9, 10]]

### Pop() Method

In [124]:
lst[0:3:3]

[1]

In [125]:
lst.pop()

[9, 10]

In [126]:
lst

[1, 2, [8, [9, 10]], 3, 4, 5, 6, 8]

In [127]:
lst.pop(0)

1

In [128]:
lst

[2, [8, [9, 10]], 3, 4, 5, 6, 8]

### count():Calculates total occurrence of given element of List

In [135]:
lst=[1,1,2,3,8,9,6,7,4,5]
lst.count(1)

2

In [130]:
#length:Calculates total length of List
len(lst)

6

In [136]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(4)

8

In [137]:
##Min and Max
min(lst)

1

In [138]:
max(lst)

9

## SETS

A Set is an unordered  collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [88]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [49]:
set_var={1,2,3,4,3}

In [50]:
set_var

{1, 2, 3, 4}

In [140]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [142]:
## Inbuilt function in sets

set_var.add("Hulk")
print(set_var)

{'Hulk', 'IronMan', 'Avengers', 'Hitman'}

In [ ]:
.

In [57]:
print(set_var)

{'IronMan', 'Hitman', 'Avengers', 'Hulk'}

In [147]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [144]:
set2.intersection_update(set1)

In [145]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [148]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [60]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [149]:
## Difference update

set2.difference_update(set1)

In [150]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [151]:
dic={}

In [152]:
type(dic)

dict

In [153]:
type(dict())

dict

In [154]:
set_ex={1,2,3,4,5}

In [155]:
type(set_ex)

set

In [175]:
## Let create a dictionary

my_dict={"Car1": "BMW", "Car2":"BMW","Car2":"Mercidies Benz"}

#You cannot have two same keys in dictionary - it wont give you an error but it will only accept one unique key so the last one will replace the earlier one.

In [171]:
type(my_dict)

dict

In [172]:
##Access the item values based on keys

my_dict['Car1']

'BMW'

In [174]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2

In [166]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

BMW
Mercidies Benz

In [167]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'BMW')
('Car2', 'Mercidies Benz')

In [168]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [169]:
my_dict

{'Car1': 'BMW', 'Car2': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [176]:
my_dict['Car1']='MAruti'

In [177]:
my_dict

{'Car1': 'MAruti', 'Car2': 'Mercidies Benz'}

### Nested Dictionary

In [179]:
car1_model={'Mercedes':1960} #these are all dictionaries containing key and value 
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model} # another dictionary containing the three nested dictionaries

In [180]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [181]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [182]:
print(car_type['car1']['Mercedes'])

1960

##  A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists that are mutable.

In [184]:
## create an empty Tuples

my_tuple=tuple() #declaring a tuple

In [185]:
type(my_tuple)

tuple

In [186]:
my_tuple=() # another way of declaring a tuple

In [187]:
type(my_tuple)

tuple

In [203]:
my_tuple=("Krish","Ankur","John")

In [196]:
my_tuple=('Hello','World')

In [202]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [198]:
type(my_tuple)

tuple

In [204]:
## Inbuilt function
my_tuple.count('Krish')

1

In [200]:
my_tuple.index('Ankur')

ValueError: tuple.index(x): x not in tuple